@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*-----------------------All--------------------*/
* {
  font-family: "AvenirNext LT Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*--------------------Header-----------------------*/
.header {
  background-color: #323232;
  max-width: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-wrapper {
    padding-left: 2.5rem;
    padding-right: 4.375rem;
  }
}
.header__logo {
  width: 11.25rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 7.5rem;
    padding-top: 1rem;
  }
}
.header__nav-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-wrapper {
    justify-content: flex-start;
    gap: 4.375rem;
  }
}
.header__nav-link-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.header__nav-link-container:hover {
  border-bottom: 3px solid white;
}
@media screen and (min-width: 768px) {
  .header__nav-link-container {
    padding: 1.875rem 0;
    justify-content: flex-start;
    width: auto;
  }
}
.header__nav-link-container--active {
  border-bottom: 3px solid white;
}
.header__nav-link {
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 0.875rem;
    padding-bottom: 0;
    margin: 0;
  }
}
.header__nav-link--active {
  font-weight: 600;
}

/* -------------------Hero Section---------------  */
.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  height: 30vh;
  background-color: rgba(21, 21, 21, 0.447);
  background-blend-mode: saturation;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vh;
    background-size: cover;
    background-color: rgba(36, 36, 36, 0.432);
    background-blend-mode: saturation;
  }
}
.hero__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
.hero__title {
  font-size: 2.1875rem;
  color: white;
  font-weight: 600;
  margin-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-left: 2.5rem;
    font-size: 3.75rem;
  }
}

/*  ----------------------Info Section-----------------    */
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .info {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .info {
    max-width: 1100px;
    margin: auto;
  }
}
.info__title {
  font-size: 2.125rem;
  font-weight: 600;
  margin-left: 1.5rem;
  margin-top: 1.875rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .info__title {
    margin: 0;
    font-size: 2.5rem;
  }
}
.info__band-image-container {
  display: flex;
  justify-content: center;
  padding: 0.625rem 0;
}
@media screen and (min-width: 768px) {
  .info__band-image-container {
    padding: 0;
  }
}
.info__band-image {
  width: 100%;
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .info__band-image {
    padding: 0 3.75rem;
    -webkit-clip-path: inset(2.5rem 0);
            clip-path: inset(2.5rem 0);
  }
}
@media screen and (min-width: 1280px) {
  .info__band-image {
    -webkit-clip-path: inset(3.125rem 0);
            clip-path: inset(3.125rem 0);
    padding: 0 5rem;
  }
}
.info__quote {
  font-size: 1.3125rem;
  font-weight: 600;
  margin: 0 1.5rem;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .info__quote {
    margin: 0 3.75rem;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.5;
    color: #323232;
  }
}
@media screen and (min-width: 1280px) {
  .info__quote {
    margin: -1.25rem 5rem 0 5rem;
    width: 70%;
  }
}
.info__quote-speaker {
  font-size: 1.3125rem;
  margin-bottom: 2rem;
  font-weight: 600;
  margin: 0.75rem 1.5rem;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .info__quote-speaker {
    margin: 0.75rem 3.75rem;
    font-weight: 600;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__quote-speaker {
    margin: 1rem 5rem;
  }
}
.info__bio-title {
  margin: 2rem 1.5rem 0 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .info__bio-title {
    margin: 3.125rem 3.75rem 0.75rem 3.75rem;
    font-weight: 600;
    font-size: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__bio-title {
    margin: 3.125rem 5rem 0.75rem 5rem;
  }
}
.info__bio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem;
}
@media screen and (min-width: 768px) {
  .info__bio-container {
    flex-direction: row;
    margin: 0 3.75rem;
    gap: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__bio-container {
    margin: 0 5rem;
  }
}
.info__bio {
  width: 100%;
  margin: 0.625rem 0;
  line-height: 1.5;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .info__bio {
    line-height: 1.8;
    font-weight: 400;
    font-size: 0.875rem;
  }
}

/*-------------------Photo Gallery-----------------------*/
.photos {
  background-color: #fafafa;
}
@media screen and (min-width: 1280px) {
  .photos__container {
    max-width: 1100px;
    margin: auto;
  }
}
.photos__title {
  padding: 1.5rem;
  font-size: 2.1875rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .photos__title {
    padding: 2.5rem 2.5rem 0 2.5rem;
    font-size: 2.5rem;
    color: #323232;
  }
}
.photos__images-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .photos__images-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 1.875rem 2.5rem 3.25rem 2.5rem;
    gap: 1.5625rem;
    justify-content: space-between;
  }
}
.photos__image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .photos__image {
    width: 30%;
    padding: 0;
    flex: 1;
  }
}
@media screen and (min-width: 1280px) {
  .photos__image {
    filter: grayscale(100%);
  }
}
@media screen and (min-width: 1280px) {
  .photos__image:hover {
    filter: grayscale(0%);
  }
}

/*-------------------Footer--------------------*/
.footer {
  background-color: #323232;
  padding: 1.5rem;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0;
  }
}
.footer__wrapper {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
    max-width: 1100px;
    margin: auto;
  }
}
.footer__title {
  color: white;
  font-size: 2.1875rem;
  font-weight: 600;
  padding-bottom: 5rem;
  width: auto;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.125rem;
    padding-bottom: 1.5rem;
  }
}
.footer__socials-container {
  flex: 1;
  width: 100%;
  padding-top: 0.3125rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.875rem;
  position: absolute;
  top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .footer__socials-container {
    position: relative;
    top: 0px;
  }
}
.footer__socials-icon {
  height: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .footer__socials-icon {
    height: 1.5625rem;
  }
}
.footer__socials-icon:hover {
  stroke: magenta;
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__card-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2.5rem;
    margin-top: 1.875rem;
  }
}
.footer__name {
  padding-top: 0.5rem;
}
.footer__name-text {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__name-text {
    font-size: 0.875rem;
  }
}
.footer__location {
  padding: 1.5rem 0;
  color: white;
}
.footer__location-text {
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__location-text {
    font-size: 0.875rem;
  }
}
.footer__email {
  margin-bottom: 1.5rem;
}
.footer__email-text {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}
@media screen and (min-width: 768px) {
  .footer__email-text {
    font-size: 0.875rem;
  }
}
.footer__email-text:hover {
  color: magenta;
}
.footer__copyright {
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 1rem 0;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.footer__logo {
  position: absolute;
  top: 22.5rem;
  width: 9.375rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-left: auto;
    padding-top: 0.25rem;
    flex: 1;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 7.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    right: 1.25rem;
    top: 1.875rem;
  }
}/*# sourceMappingURL=bio.css.map */