@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

/*-----------------------All--------------------*/

* {
  font-family: "AvenirNext LT Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*--------------------Header-----------------------*/
.header {
  background-color: $bandsite-black;
  max-width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
    }
    @include desktop {
      max-width: 1100px;
      margin: auto;
    }
  }
  &__logo-wrapper {
    @include tablet {
      padding-left: 40px;
      padding-right: 70px;
    }
  }

  &__logo {
    width: 180px;
    padding-top: 24px;
    padding-bottom: 16px;
    @include tablet {
      width: 120px;
      padding-top: 16px;
    }
  }

  &__nav-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include tablet {
      justify-content: flex-start;
      gap: 70px;
    }
  }
  &__nav-link-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    @include tablet {
      padding: 30px 0;
      justify-content: flex-start;
      width: auto;
    }
  }
  &__nav-link-container--active {
    border-bottom: 4px solid white;
  }
  &__nav-link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: $white;
    padding-bottom: 16px;
    @include tablet {
      font-size: 14px;
      padding-bottom: 0;
      margin: 0;
    }
    &:hover {
      @include desktop {
        color: rgb(153, 0, 140);
      }
    }
  }
  &__nav-link--active {
    font-weight: 600;
  }
}

/* -------------------Hero Section---------------  */

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  height: 30vh;
  background-color: rgba(21, 21, 21, 0.447);
  background-blend-mode: saturation;
  @include tablet {
    height: 60vh;
    background-size: cover;
    background-color: rgba(36, 36, 36, 0.432);
    background-blend-mode: saturation;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include desktop {
      max-width: 1100px;
      margin: auto;
    }
  }
  &__title {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-left: 24px;
    @include tablet {
      margin-left: 40px;
      font-size: 60px;
    }
  }
}

/*  ----------------------Info Section-----------------    */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include tablet {
    padding: 40px;
  }
  @include desktop {
    max-width: 1100px;
    margin: auto;
  }
  &__title {
    font-size: 34px;
    font-weight: 600;
    margin-left: 24px;
    margin-top: 30px;
    color: $bandsite-black;

    @include tablet {
      margin: 0;
      font-size: 40px;
    }
    &__content-wrapper {
      @include tablet {
      }
    }
  }
  &__band-image-container {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    @include tablet {
      padding: 0;
    }
  }
  &__band-image {
    width: 100%;
    padding: 24px;
    @include tablet {
      padding: 0 60px;
      clip-path: inset(40px 0);
    }
    @include desktop {
      clip-path: inset(50px 0);
      padding: 0 80px;
    }
  }
  &__quote {
    font-size: 21px;
    font-weight: 600;
    margin: 0 24px;
    line-height: 1.7;
    @include tablet {
      margin: 0 60px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5;
      color: $bandsite-black;
    }
    @include desktop {
      margin: -20px 80px 0 80px;
      width: 70%;
    }
  }
  &__quote-speaker {
    font-size: 21px;
    margin-bottom: 32px;
    font-weight: 600;
    margin: 12px 24px;
    line-height: 1.7;
    @include tablet {
      margin: 12px 60px;
      font-weight: 600;
      font-size: 16px;
    }
    @include desktop {
      margin: 16px 80px;
    }
  }
  &__bio-title {
    margin: 32px 24px 0 24px;
    font-size: 20px;
    font-weight: 600;
    @include tablet {
      margin: 50px 60px 12px 60px;
      font-weight: 600;
      font-size: 22px;
    }
    @include desktop {
      margin: 50px 80px 12px 80px;
    }
  }

  &__bio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 24px;
    @include tablet {
      flex-direction: row;
      margin: 0 60px;
      gap: 28px;
    }
    @include desktop {
      margin: 0 80px;
    }
  }

  &__bio {
    width: 100%;
    margin: 10px 0;
    line-height: 1.5;
    font-size: 18px;
    @include tablet {
      line-height: 1.8;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

/*-------------------Photo Gallery-----------------------*/

.photos {
  background-color: $alabaster;
  &__container {
    @include desktop {
      max-width: 1100px;
      margin: auto;
    }
  }

  &__title {
    padding: 24px;
    font-size: 35px;
    font-weight: 600;
    @include tablet {
      padding: 40px 40px 0 40px;
      font-size: 40px;
      color: $bandsite-black;
    }
  }
  &__images-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      padding: 30px 40px 52px 40px;
      gap: 25px;
      justify-content: space-between;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    @include tablet {
      width: 30%;
      padding: 0;
      flex: 1;
    }
    @include desktop {
      filter: grayscale(100%);
    }
    &:hover {
      @include desktop {
        filter: grayscale(0%);
      }
    }
  }
}

/*-------------------Footer--------------------*/

.footer {
  background-color: $bandsite-black;
  padding: 24px;
  // position: relative;
  max-width: 100%;
  @include tablet {
    padding: 30px 40px 40px 40px;
  }
  @include desktop {
    padding: 0;
  }
  &__wrapper {
    position: relative;
    @include tablet {
    }
    @include desktop {
      padding: 30px 40px 40px 40px;
      max-width: 1100px;
      margin: auto;
    }
  }

  &__title {
    color: white;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 80px;
    width: auto;
    @include tablet {
      font-size: 34px;
      padding-bottom: 24px;
    }
  }
  &__socials-container {
    flex: 1;
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    position: absolute;
    top: 60px;
    @include tablet {
      position: relative;
      top: 0px;
    }
  }
  &__socials-icon {
    height: 35px;
    @include tablet {
      height: 25px;
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
      gap: 40px;
      margin-top: 30px;
    }
  }

  &__name {
    padding-top: 8px;
  }
  &__name-text {
    color: white;
    font-weight: 600;
    font-size: 18px;
    @include tablet {
      font-size: 14px;
    }
  }
  &__location {
    padding: 24px 0;
    color: white;
  }
  &__location-text {
    font-size: 18px;
    @include tablet {
      font-size: 14px;
    }
  }
  &__email {
    margin-bottom: 24px;
  }
  &__email-text {
    text-decoration: none;
    color: white;
    font-size: 18px;
    @include tablet {
      font-size: 14px;
    }
  }

  &__copyright {
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 70px;
    @include tablet {
      padding: 16px 0;
      margin: 0;
    }
  }

  &__card {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
  &__logo {
    position: absolute;
    bottom: 15px;
    width: 150px;

    @include tablet {
      margin-left: auto;
      padding-top: 4px;
      flex: 1;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 120px;
    }
    @include desktop {
      position: absolute;
      right: 20px;
      top: 30px;
    }
  }
}
