@use "./partials/globals" as *;

@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

/* -------------------Bio Hero Section---------------  */

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  height: 30vh;
  background-color: rgba(21, 21, 21, 0.447);
  background-blend-mode: saturation;
  @include tablet {
    height: 60vh;
    background-size: cover;
    background-color: rgba(36, 36, 36, 0.432);
    background-blend-mode: saturation;
  }
  @include desktop {
    height: 70vh;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include desktop {
      max-width: 1100px;
      margin: auto;
    }
  }
  &__title {
    font-size: 2.1875rem;
    color: white;
    font-weight: 600;
    margin-left: 1.5rem;
    @include tablet {
      margin-left: 2.5rem;
      font-size: 3.75rem;
    }
  }
}

/*  ----------------------Bio Info Section-----------------    */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include tablet {
    padding: 2.5rem;
  }
  @include desktop {
    max-width: 1100px;
    margin: auto;
  }
  &__title {
    font-size: 2.125rem;
    font-weight: 600;
    margin-left: 1.5rem;
    margin-top: 1.875rem;
    color: $bandsite-black;

    @include tablet {
      margin: 0;
      font-size: 2.5rem;
    }
  }
  &__band-image-container {
    display: flex;
    justify-content: center;
    padding: 0.625rem 0;
    @include tablet {
      padding: 0;
    }
  }
  &__band-image {
    width: 100%;
    padding: 1.5rem;
    @include tablet {
      padding: 0 3.75rem;
      clip-path: inset(2.5rem 0);
    }
    @include desktop {
      clip-path: inset(3.125rem 0);
      padding: 0 5rem;
    }
  }
  &__quote {
    font-size: 1.3125rem;
    font-weight: 600;
    margin: 0 1.5rem;
    line-height: 1.7;
    @include tablet {
      margin: 0 3.75rem;
      font-size: 1.375rem;
      font-weight: 600;
      line-height: 1.5;
      color: $bandsite-black;
    }
    @include desktop {
      margin: -1.25rem 5rem 0 5rem;
      width: 70%;
    }
  }
  &__quote-speaker {
    font-size: 1.3125rem;
    margin-bottom: 2rem;
    font-weight: 600;
    margin: 0.75rem 1.5rem;
    line-height: 1.7;
    @include tablet {
      margin: 0.75rem 3.75rem;
      font-weight: 600;
      font-size: 1rem;
    }
    @include desktop {
      margin: 1rem 5rem;
    }
  }
  &__bio-title {
    margin: 2rem 1.5rem 0 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    @include tablet {
      margin: 3.125rem 3.75rem 0.75rem 3.75rem;
      font-weight: 600;
      font-size: 1.375rem;
    }
    @include desktop {
      margin: 3.125rem 5rem 0.75rem 5rem;
    }
  }

  &__bio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5rem;
    @include tablet {
      flex-direction: row;
      margin: 0 3.75rem;
      gap: 1.75rem;
    }
    @include desktop {
      margin: 0 5rem;
    }
  }

  &__bio {
    width: 100%;
    margin: 0.625rem 0;
    line-height: 1.5;
    font-size: 1.125rem;
    @include tablet {
      line-height: 1.8;
      font-weight: 400;
      font-size: 0.875rem;
    }
  }
}

/*-------------------Photo Gallery-----------------------*/

.photos {
  background-color: $alabaster;
  &__container {
    @include desktop {
      max-width: 1100px;
      margin: auto;
    }
  }

  &__title {
    padding: 1.5rem;
    font-size: 2.1875rem;
    font-weight: 600;
    @include tablet {
      padding: 2.5rem 2.5rem 0 2.5rem;
      font-size: 2.5rem;
      color: $bandsite-black;
    }
  }
  &__images-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      padding: 1.875rem 2.5rem 3.25rem 2.5rem;
      gap: 1.5625rem;
      justify-content: space-between;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    @include tablet {
      width: 30%;
      padding: 0;
      flex: 1;
    }
    @include desktop {
      filter: grayscale(100%);
    }
    &:hover {
      @include desktop {
        filter: grayscale(0%);
      }
    }
  }
}
