@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Demi.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot");
  src: url("../assets/fonts/AvenirNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype"), url("../assets/fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*-----------------------All--------------------*/
* {
  font-family: "AvenirNext LT Pro", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*--------------------Header-----------------------*/
.header {
  background-color: #323232;
  max-width: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__logo-wrapper {
    padding-left: 2.5rem;
    padding-right: 4.375rem;
  }
}
.header__logo {
  width: 120px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 7.5rem;
    padding-top: 1rem;
  }
}
.header__nav-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__nav-wrapper {
    justify-content: flex-start;
    gap: 4.375rem;
  }
}
.header__nav-link-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.header__nav-link-container:hover {
  border-bottom: 3px solid white;
}
@media screen and (min-width: 768px) {
  .header__nav-link-container {
    padding: 1.875rem 0;
    justify-content: flex-start;
    width: auto;
  }
}
.header__nav-link-container--active {
  border-bottom: 3px solid white;
}
.header__nav-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__nav-link {
    font-size: 0.875rem;
    padding-bottom: 0;
    margin: 0;
  }
}
.header__nav-link--active {
  font-weight: 600;
}

/*-------------------Footer--------------------*/
.footer {
  background-color: #323232;
  padding: 24px 16px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 0;
  }
}
.footer__wrapper {
  position: relative;
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    padding: 1.875rem 2.5rem 2.5rem 2.5rem;
    max-width: 1100px;
    margin: auto;
  }
}
.footer__title {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 4rem;
  width: auto;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    padding-bottom: 1.5rem;
  }
}
.footer__socials-container {
  flex: 1;
  width: 100%;
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 1.875rem;
  position: absolute;
  top: 40px;
}
@media screen and (min-width: 768px) {
  .footer__socials-container {
    position: relative;
    top: 0px;
  }
}
.footer__socials-icon {
  height: 24px;
}
@media screen and (min-width: 768px) {
  .footer__socials-icon {
    height: 1.5625rem;
  }
}
.footer__card-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__card-container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1.875rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__card-container {
    gap: 3rem;
  }
}
.footer__name {
  padding-top: 0.5rem;
}
.footer__name-text {
  color: white;
  font-weight: 600;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .footer__name-text {
    font-size: 0.875rem;
  }
}
.footer__location {
  padding: 1.5rem 0;
  color: white;
}
.footer__location-text {
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .footer__location-text {
    font-size: 0.875rem;
  }
}
.footer__email {
  margin-bottom: 1.5rem;
}
.footer__email-text {
  text-decoration: none;
  color: white;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .footer__email-text {
    font-size: 0.875rem;
  }
}
.footer__email-text:hover {
  color: magenta;
}
.footer__copyright {
  color: white;
  font-weight: 400;
  font-size: 11px;
  padding-top: 4.375rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    padding: 1rem 0;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.footer__logo {
  position: absolute;
  top: 310px;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-left: auto;
    padding-top: 0.25rem;
    flex: 1;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 7.5rem;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    right: 1.25rem;
    top: 1.875rem;
    margin-right: 10px;
  }
}

/* -------------------Bio Hero Section---------------  */
.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  height: 30vh;
  background-color: rgba(21, 21, 21, 0.447);
  background-blend-mode: saturation;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 60vh;
    background-size: cover;
    background-color: rgba(36, 36, 36, 0.432);
    background-blend-mode: saturation;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 70vh;
  }
}
.hero__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
.hero__title {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-left: 2.5rem;
    font-size: 3.75rem;
  }
}

/*  ----------------------Bio Info Section-----------------    */
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .info {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .info {
    max-width: 1100px;
    margin: auto;
  }
}
.info__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 16px;
  margin-top: 1.875rem;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .info__title {
    margin: 0;
    font-size: 2.25rem;
  }
}
.info__band-image-container {
  display: flex;
  justify-content: center;
  padding: 0.625rem 0;
}
@media screen and (min-width: 768px) {
  .info__band-image-container {
    padding: 0;
  }
}
.info__band-image {
  width: 100%;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .info__band-image {
    padding: 0 3.75rem;
    -webkit-clip-path: inset(2.5rem 0);
            clip-path: inset(2.5rem 0);
  }
}
@media screen and (min-width: 1280px) {
  .info__band-image {
    -webkit-clip-path: inset(3.125rem 0);
            clip-path: inset(3.125rem 0);
    padding: 0 5rem;
  }
}
.info__quote {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 16px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .info__quote {
    margin: 0 3.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #323232;
  }
}
@media screen and (min-width: 1280px) {
  .info__quote {
    margin: -1.25rem 5rem 0 5rem;
    width: 70%;
  }
}
.info__quote-speaker {
  font-size: 0.875rem;
  margin-bottom: 2rem;
  font-weight: 600;
  margin: 0.75rem 16px;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .info__quote-speaker {
    margin: 0.75rem 3.75rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__quote-speaker {
    margin: 1rem 5rem;
  }
}
.info__bio-title {
  margin: 2rem 16px 0 16px;
  font-size: 0.875rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .info__bio-title {
    margin: 3.125rem 3.75rem 0.75rem 3.75rem;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__bio-title {
    margin: 3.125rem 5rem 0.75rem 5rem;
  }
}
.info__bio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem 16px;
}
@media screen and (min-width: 768px) {
  .info__bio-container {
    flex-direction: row;
    margin: 0 3.75rem;
    gap: 1.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .info__bio-container {
    margin: 0 5rem;
  }
}
.info__bio {
  width: 100%;
  margin: 0.625rem 0;
  line-height: 1.5;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .info__bio {
    line-height: 1.8;
    font-weight: 400;
    font-size: 0.875rem;
  }
}

/*-------------------Photo Gallery-----------------------*/
.photos {
  background-color: #fafafa;
}
@media screen and (min-width: 1280px) {
  .photos__container {
    max-width: 1100px;
    margin: auto;
  }
}
.photos__title {
  padding: 16px;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .photos__title {
    padding: 2.5rem 2.5rem 0 2.5rem;
    font-size: 2.25rem;
    color: #323232;
  }
}
.photos__images-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .photos__images-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: 1.875rem 2.5rem 3.25rem 2.5rem;
    gap: 1.5625rem;
    justify-content: space-between;
  }
}
.photos__image {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .photos__image {
    width: 30%;
    padding: 0;
    flex: 1;
  }
}
@media screen and (min-width: 1280px) {
  .photos__image {
    filter: grayscale(100%);
  }
}
@media screen and (min-width: 1280px) {
  .photos__image:hover {
    filter: grayscale(0%);
  }
}

.comments {
  max-width: 100%;
}
.comments__wrapper {
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .comments__wrapper {
    padding: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .comments__wrapper {
    max-width: 1100px;
    margin: auto;
  }
}
.comments__title {
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .comments__title {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }
}
.comments__form-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 24px;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .comments__form-container {
    max-width: 700px;
    margin: auto;
  }
}
.comments__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.comments__form-label {
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #afafaf;
  margin-bottom: 4px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .comments__form-label {
    font-size: 0.75rem;
  }
}
.comments__name-input {
  padding: 12px;
  border: none;
  outline: 1px solid #e1e1e1;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fafafa;
}
.comments__name-input::-moz-placeholder {
  color: black;
}
.comments__name-input:-ms-input-placeholder {
  color: black;
}
.comments__name-input::placeholder {
  color: black;
}
.comments__name-input:focus {
  outline: 1px solid #323232;
}
.comments__name-input--error {
  outline: 1px solid #d22d2d;
}
.comments__name-input--error::-moz-placeholder {
  color: #d22d2d;
}
.comments__name-input--error:-ms-input-placeholder {
  color: #d22d2d;
}
.comments__name-input--error::placeholder {
  color: #d22d2d;
}
.comments__comment-input {
  height: 100px;
  padding: 12px;
  border: none;
  outline: 1px solid #e1e1e1;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fafafa;
  resize: none;
}
.comments__comment-input::-moz-placeholder {
  color: black;
  vertical-align: top;
}
.comments__comment-input:-ms-input-placeholder {
  color: black;
  vertical-align: top;
}
.comments__comment-input::placeholder {
  color: black;
  vertical-align: top;
}
.comments__comment-input--error {
  outline: 1px solid #d22d2d;
}
.comments__comment-input--error::-moz-placeholder {
  color: #d22d2d;
}
.comments__comment-input--error:-ms-input-placeholder {
  color: #d22d2d;
}
.comments__comment-input--error::placeholder {
  color: #d22d2d;
}
.comments__comment-input:focus {
  outline: 1px solid #323232;
}
@media screen and (min-width: 768px) {
  .comments__comment-input {
    margin-bottom: 0;
  }
}
.comments__avatar-container {
  padding-top: 25px;
}
.comments__avatar {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-clip-path: circle(43%);
          clip-path: circle(43%);
}
@media screen and (min-width: 768px) {
  .comments__avatar {
    width: 52px;
    height: 52px;
  }
}
.comments__submit-button {
  background-color: #323232;
  color: white;
  border: none;
  border-radius: 4px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  font-size: 15px;
}
.comments__submit-button:hover {
  background-color: black;
}
@media screen and (min-width: 768px) {
  .comments__submit-button {
    width: 150px;
    margin: 20px 0;
    margin-left: auto;
  }
}
.comments__list {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .comments__list {
    max-width: 700px;
    margin: auto;
  }
}
.comments__comment-list-item {
  display: flex;
  gap: 16px;
  padding: 14px 0;
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .comments__comment-list-item {
    padding: 20px 0;
  }
}
.comments__comment-left-div {
  display: flex;
  align-items: flex-start;
}
.comments__commenter-image {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  -webkit-clip-path: circle(43%);
          clip-path: circle(43%);
}
@media screen and (min-width: 768px) {
  .comments__commenter-image {
    width: 52px;
    height: 52px;
  }
}
.comments__commenter-image--undefined {
  background-color: #e1e1e1;
}
.comments__comment-right-div {
  flex: 1;
  overflow: hidden;
}
.comments__comment-upper-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments__commenter-name-text {
  font-weight: 600;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .comments__commenter-name-text {
    font-size: 0.875rem;
  }
}
.comments__comment-date {
  color: #afafaf;
  font-size: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .comments__comment-date {
    font-size: 0.875rem;
  }
}
.comments__comment-lower-div {
  padding-top: 5px;
}
.comments__comment-text {
  font-size: 0.8125rem;
  word-wrap: break-word;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .comments__comment-text {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=bio.css.map */